*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    background-color: #081b31;
    color: #fff;
    height: 5 rem;
    line-height: 5rem; /*adjust text at centre vertically */
}

.choice{
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.choice:hover{
/* opacity: 0.5; */
background-color: hwb(240 59% 38%);
}

img{
    height: 25vw;
    width: 25vw;
    object-fit: cover; /*fit image into frame*/ 
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem; /* to increase gap or space between options*/
    margin-top: 5rem;    
}

.score-board{
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 2rem;
     margin-top: 5rem;
     gap: 5rem;
}

.msg-container{
    margin-top: 1rem;
}

#msg{
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.comp-pick img, .your-pick img{
    height: 20vw;
    width: 20vw;
    object-fit: cover; /*fit image into frame*/ 
    border-radius: 30%;
    opacity: 85%;
}
